# macOS files
.DS_Store

# Python
__pycache__/
*.pyc
*.pyd
*.pyo
.Python
env/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# Environment variables (Crucial for API keys!)
.env

# Editor/IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs & temporary files
*.log
*.tmp
*.swp